body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.layout{
  display: flex;
}

.sidebar{
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100vh;
  background: #5F758E;
}

.logo {
  background-color: #c52b52;
  color: white;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  /* background-color: #f4f4f4; */
  padding: 10px 20px;
  list-style: none;
}

.menu a {
  display: block;
  color: #f4f4f4;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}
.menu a:hover{
  text-decoration: underline;
}